
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1498212677390'); /* IE9*/
  src: url('iconfont.eot?t=1498212677390#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1498212677390') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1498212677390') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1498212677390#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shezhi:before { content: "\e603"; }

.icon-home:before { content: "\e611"; }

.icon-config1:before { content: "\e619"; }

.icon-check:before { content: "\e671"; }

.icon-home1:before { content: "\e63f"; }

.icon-shop:before { content: "\e64f"; }

.icon-alert:before { content: "\e67d"; }

.icon-check1:before { content: "\e7bd"; }

.icon-check2:before { content: "\e633"; }

.icon-config2:before { content: "\e601"; }

.icon-check3:before { content: "\e646"; }

.icon-alert1:before { content: "\e6eb"; }

.icon-kebiao:before { content: "\e61a"; }

.icon-dailijizhang:before { content: "\e632"; }

.icon-bae-staff:before { content: "\e68f"; }

.icon-alert2:before { content: "\e683"; }

.icon-iconinfor:before { content: "\e778"; }

.icon-iconjizhang:before { content: "\e602"; }

.icon-alert3:before { content: "\e6bf"; }

.icon-svginfor:before { content: "\e67b"; }

.icon-tongji:before { content: "\e742"; }

.icon-people:before { content: "\e617"; }

.icon-star2:before { content: "\e62e"; }

.icon-customer:before { content: "\e67f"; }

.icon-fangke:before { content: "\e622"; }

.icon-laofangke:before { content: "\e634"; }

.icon-qiantai:before { content: "\e63e"; }

.icon-star1:before { content: "\e627"; }

.icon-star4:before { content: "\e62a"; }

.icon-star5:before { content: "\e62b"; }

.icon-loading:before { content: "\e606"; }

.icon-laofangke1:before { content: "\e604"; }

.icon-sijiao:before { content: "\e615"; }

.icon-caiwu:before { content: "\e612"; }

.icon-desk:before { content: "\e649"; }

.icon-fangketou:before { content: "\e61c"; }

.icon-yuangong:before { content: "\e60b"; }

.icon-star3:before { content: "\e605"; }

.icon-cog:before { content: "\e600"; }

